<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/code-styles/tomorrow.css">

    <title>Resource Discovery and Orchestration for Software Defined Coalitions (Supercomputing 2018)</title>

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root | tojson | safe }};
    </script>
</head>
<body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/static/javascripts/jquery-3.3.1.min.js"
        crossorigin="anonymous"></script>
<script src="/static/javascripts/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="/static/javascripts/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script src="/static/javascripts/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<script>
    var call_orchestrator = function (route, input_data, output_div_id, render) {
        $.getJSON($SCRIPT_ROOT + route, {
            text: input_data
        }, function (data) {
            obj = JSON.parse(data.result)
            $(output_div_id).text(JSON.stringify(JSON.parse(data.result), null, 2))
            render(obj);
        })
    }

    var submit_task_case1 = function () {
        call_orchestrator("/_submit_task", $("#submit_task_json_case1").text(),
            "#rsa-result-case1", function (obj) {
                s = "Resource constraints are: \n\n"
                for (var i = 0; i < obj["ane-matrix"].length; i += 1) {
                    vector = obj["ane-matrix"][i];
                    limit = obj["anes"][i];
                    flow_name_list = []
                    for (var j = 0; j < vector.length; j += 1) {
                        flow_name_list.push("flow " + obj["ane-matrix"][i][j]["flow-id"])
                    }
                    flow_name_list.sort()
                    s += '    ' + flow_name_list.join(" + ") + ` <= ${limit["availbw"]} Kbps\n`
                }
                $("#rsa-result-human-readable-case1").text(s)
            });
    };

    var calculate_bandwidth_case1 = function () {
        call_orchestrator("/_calculate_bandwidth", $("#rsa-result-case1").text(),
            "#bandwidth-result-case1", function (obj) {
                obj = obj["flows"]
                s = "Optimal reservation: \n\n"
                for (var i = 0; i < obj.length; i += 1) {
                    flow_name = "flow " + obj[i]["flow-id"]
                    bw = obj[i]["bandwidth"]
                    s += `    ${flow_name}: ${bw} Kbps\n`
                }
                $("#bandwidth-result-human-readable-case1").text(s)
                setTimeout(function () {
                    s = $("#bandwidth-result-human-readable-case1").text()
                    s += "\nReserve successfully\n"
                    $("#bandwidth-result-human-readable-case1").text(s)
                }, 1500)
            });
    };

    var run_task_case1 = function () {
        call_orchestrator("/_run_task", $("#bandwidth-result-case1").text(),
            "#run-task-result-case1", function (obj) {
                // Do nothing
            });
    };

    var reserve_request = function () {
        call_orchestrator("/_on_demand_pce", $("#reserve_request_json").text(),
            "#reserve-request-result", function (obj) {
                // Do nothing
            });
    };

    var submit_task_case2 = function () {
        call_orchestrator("/_submit_task", $("#submit_task_json_case2").text(),
            "#rsa-result-case2", function (obj) {
                s = "Resource constraints are: \n\n"
                for (var i = 0; i < obj["ane-matrix"].length; i += 1) {
                    vector = obj["ane-matrix"][i];
                    limit = obj["anes"][i];
                    flow_name_list = []
                    for (var j = 0; j < vector.length; j += 1) {
                        flow_name_list.push("flow " + obj["ane-matrix"][i][j]["flow-id"])
                    }
                    flow_name_list.sort()
                    s += '    ' + flow_name_list.join(" + ") + ` <= ${limit["availbw"]} Kbps\n`
                }
                $("#rsa-result-human-readable-case2").text(s)
            });
    };

    var render_bandwidth_result = function (obj, target_id) {
        obj = obj["flows"]
        s = "Optimal reservation: \n\n"
        for (var i = 0; i < obj.length; i += 1) {
            flow_name = "flow " + obj[i]["flow-id"]
            bw = obj[i]["bandwidth"]
            s += `    ${flow_name}: ${bw} Kbps\n`
        }
        $(`#${target_id}`).text(s)
        setTimeout(function () {
            s = $(`#${target_id}`).text()
            s += "\nReserve successfully\n"
            $(`#${target_id}`).text(s)
        }, 1500)
    }

    var calculate_bandwidth_case2 = function () {
        call_orchestrator("/_calculate_bandwidth", $("#rsa-result-case2").text(),
            "#bandwidth-result-case2", function (obj) {
                render_bandwidth_result(obj, "bandwidth-result-human-readable-case2")
            })
    }

    var run_task_case2 = function () {
        call_orchestrator("/_run_task", $("#bandwidth-result-case2").text(),
            "#run-task-result-case2", function (obj) {
                // Do nothing
            });
    };

    var stop_task = function () {
        $.getJSON($SCRIPT_ROOT + "/_stop_task", {}, function (data) {
        })
    };

    var clear_texts = function () {
        $("[id^=path-query-result]").text("")
        $("[id^=rsa-result]").text("")
        $("[id^=rsa-site1-result]").text("")
        $("[id^=rsa-site2-result]").text("")
        $("[id^=rsa-site3-result]").text("")
        $("[id^=run-task-result]").text("")
        $("[id^=md-task-result]").text("")
        $("[id^=reserve-request-result]").text("")
        $("[id^=bandwidth-result]").text("")
        $("[id^=md-bandwidth-result]").text("")
        $("[id^=as-path-result]").text("")

        $("[id^=rsa-site1-query]").hide();
        $("[id^=rsa-site2-query]").hide();
        $("[id^=rsa-site3-query]").hide();
    };

    var render_rsa_result = function (obj, label_id) {
        s = "Resource constraints are: \n\n"
        for (var i = 0; i < obj["ane-matrix"].length; i += 1) {
            vector = obj["ane-matrix"][i];
            limit = obj["anes"][i];
            flow_name_list = []
            for (var j = 0; j < vector.length; j += 1) {
                flow_name_list.push("flow " + obj["ane-matrix"][i][j]["flow-id"])
            }
            flow_name_list.sort()
            s += '    ' + flow_name_list.join(" + ") + ` <= ${limit["availbw"]} Kbps\n`
        }
        $(`#${label_id}`).text(s)
    };

    var render_path_query_result = function (obj, label_id) {
        s = "Path query results are: \n\n";
        for (var i = 0; i < obj["flow-paths"].length; i += 1) {
            s += `Flow ${i+1}: `;
            flow_path = obj["flow-paths"][i];
            for (var j = 0; j < flow_path.length; j++) {
                hop = flow_path[j];
                domain_name = obj["path-property"][hop]["domain-id"];
                s += " " + domain_name;
            }
            s += "\n"
        }
        $(`#${label_id}`).text(s);
    };

    var submit_md_task_case3 = function () {
        // Submit multi-domain data transfer task

        call_orchestrator("/_resource_query_interdomain", $("#submit_md_task_json").text(),
            "#rsa-result", function (obj) {
                render_rsa_result(obj["Domain-1"], "rsa-site1-result-human-readable-case3")
                render_rsa_result(obj["Domain-2"], "rsa-site2-result-human-readable-case3")
                render_rsa_result(obj["Domain-3"], "rsa-site3-result-human-readable-case3")
            });
    };

    var do_path_query = function () {
        call_orchestrator("/_path_query", $("#path-query-body").text(),
            "#path-query-result", function (obj) {
                render_path_query_result(obj, "path-query-result-human-readable")
            }
        )
    };

    var calculate_md_bandwidth_case3 = function () {
        // Calculate bw reservation for inter-domain
        var merge_data = {'ane-matrix': [], 'anes': []};

        rsa_result = JSON.parse($('#rsa-result').text());

        merge_data['ane-matrix'].push(...rsa_result['Domain-1']['ane-matrix']);
        merge_data['ane-matrix'].push(...rsa_result['Domain-2']['ane-matrix']);
        merge_data['ane-matrix'].push(...rsa_result['Domain-3']['ane-matrix']);

        merge_data['anes'].push(...rsa_result['Domain-1']['anes']);
        merge_data['anes'].push(...rsa_result['Domain-2']['anes']);
        merge_data['anes'].push(...rsa_result['Domain-3']['anes']);

        call_orchestrator("/_calculate_bandwidth", JSON.stringify(merge_data),
            "#md-bandwidth-result-case3", function (obj) {
                // TODO: Render the bandwidth reservation
                render_bandwidth_result(obj, "md-bandwidth-result-human-readable-case3")
            });
    };

    var start_md_task_case3 = function () {
        call_orchestrator("/_run_task_interdomain", $("#md-bandwidth-result-case3").text(),
            "#md-task-result-case3", function (obj) {
                // Do nothing
            });
    };

    var as_path_result1 = `{
  "next-ingress-point": [ "172.17.1.1", "172.17.1.1" ]
}`;

    var as_path_result2 = `{
  "next-ingress-point": [ "172.17.2.1", "172.17.2.1" ]
}`;

    var as_path_result3 = `{
  "next-ingress-point": [ "", "" ]
}`;

    var as_path_query = function () {
        // Demo query as-level path for the given set of flows
        setTimeout(function () {
            $("#as-path-result1").text(as_path_result1);
            setTimeout(function () {
                $("#as-path-result2").text(as_path_result2);
                setTimeout(function () {
                    $("#as-path-result3").text(as_path_result3);
                }, Math.random() * 300 + 200);
            }, Math.random() * 300 + 200);
        }, Math.random() * 300 + 200);
    };

    var submit_md_task_case4 = function () {
        // Submit multi-domain data transfer task
        $("#rsa-site1-query-case4").show();
        $("#rsa-site2-query-case4").show();
        $("#rsa-site3-query-case4").show();

        call_orchestrator("/_resource_query_interdomain", $("#rsa-site1-query-case4").text(),
            "#rsa-site1-result-case4", function (obj) {
                render_rsa_result(obj, "rsa-site1-result-human-readable-case4")
            });

        call_orchestrator("/_resource_query_interdomain", $("#rsa-site2-query-case4").text(),
            "#rsa-site2-result-case4", function (obj) {
                render_rsa_result(obj, "rsa-site2-result-human-readable-case4")
            });

        call_orchestrator("/_resource_query_interdomain", $("#rsa-site3-query-case4").text(),
            "#rsa-site3-result-case4", function (obj) {
                render_rsa_result(obj, "rsa-site3-result-human-readable-case4")
            });
    };

    var calculate_md_bandwidth_case4 = function () {
        // Calculate bw reservation for inter-domain
        var merge_data = {'ane-matrix': [], 'anes': []};

        rsa_site1_result = JSON.parse($('#rsa-site1-result-case4').text());
        rsa_site2_result = JSON.parse($('#rsa-site2-result-case4').text());
        rsa_site3_result = JSON.parse($('#rsa-site3-result-case4').text());

        merge_data['ane-matrix'].push(...rsa_site1_result['ane-matrix']);
        merge_data['ane-matrix'].push(...rsa_site2_result['ane-matrix']);
        merge_data['ane-matrix'].push(...rsa_site3_result['ane-matrix']);

        merge_data['anes'].push(...rsa_site1_result['anes']);
        merge_data['anes'].push(...rsa_site2_result['anes']);
        merge_data['anes'].push(...rsa_site3_result['anes']);

        call_orchestrator("/_calculate_bandwidth_interdomain", merge_data,
            "#md-bandwidth-result-case4", function (obj) {
                render_bandwidth_result(obj, "md-bandwidth-result-human-readable-case4")
            });
    };

    var start_md_task_case4 = function () {
        call_orchestrator("/_run_task_interdomain", $("#md-bandwidth-result-case4").text(),
            "#md-task-result-case4", function (obj) {
                // Do nothing
            });
    };
</script>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Supercomputing 2018</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="jumbotron">
        <h1>Resource Discovery and Orchestration for Software Defined Coalitions (Supercomputing 2018)</h1>
        <hr class="my-4">
        <p>List of publications/submissions:</p>
        <p>
        <ol>
            <li>
                Q. Xiang, J. Zhang, X. Wang, Y. Liu, F. Le, C. Guok, J. MacAuley, H. Newman and Y. R. Yang,
                "Fine-Grained, Multi-Domain Network Resource Abstraction as a Fundamental Primitive to Enable
                High-Performance, Collaborative Data Sciences" (ACM/IEEE SuperComputing 2018).
            </li>
            <li>
                Q. Xiang, C. Guok, F. Le, J. MacAuley, H. Newman and Y. R. Yang, "SFP: Toward Interdomain Routing for
                SDN" (ACM SIGCOMM Poster 2018).
            </li>
            <li>
                Q. Xiang, J. Zhang, X. Wang, Y. Liu, C. Guok, F. Le, J. MacAuley, H. Newman and Y. R. Yang,
                "Fine-Grained, Multi-Domain Network Resource Abstraction as a Fundamental Primitive to Enable
                High-Performance" (ACM SIGCOMM Poster 2018).
            </li>
            <li>
                Q. Xiang, C. Guok, F. Le, J. MacAuley, H. Newman and Y. R. Yang, "Don’t Push, Be.er Pull It! Toward
                Fully Distributed, Fine-Grained Interdomain Routing" (Submitted to ACM HotNets 2018, under review).
            </li>
            <li>
                Q. Xiang, X. Wang, F. Le, J. Aspnes, Y. R. Yang, "Toward Unified Network Resource Discovery" (Submitted
                to IEEE INFOCOM 2019, under review).
            </li>
            <li>
                Q. Xiang, H. Yu, J. Aspnes, F. Le, L. Kong, Y. R. Yang. "Toward Fast, Automatic, Privacy-Preserving
                Learning of Optimal Network Resource Reservation via Simple Reservation Interface" (Submitted to AAAI
                2019, under review).
            </li>
        </ol>
        </p>

    </div>

    <div class="row">
        <div class="col-12">

            <div class="tab-content" id="show-cases">
                <div class="container">
                    <div class="jumbotron">
                        <h1>3 networks, Computing source and reserve resources</h1>
                        <hr class="my-4">
                        <embed class="bg-white" src="/static/svg/mercator-sc18.svg" type="image/svg+xml"
                               style="width: 100%; height: 400px;"/>
                        <p>Summary of this demo</p>
                        <p>We have 3 networks, whose topology is presented above. Now we have 2 data transmission tasks
                            submitted,
                            which are </p>
                        <p>1) DTN 1 -> DTN 3.</p>
                        <p>2) DTN 2 -> DTN 4.</p>
                        <p>The orchestrator would handle these tasks.</p>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>We demonstrate how SFP and Mercator project work with the inter-domain task. Firstly,
                                the orchestrator need to know the AS path of submitted flows. SFP is the new
                                inter-domain
                                routing protocol for SDN, which could help the orchestrator to find the AS path of
                                submitted flows.</p>
                            <p>
                                <button type="button" class="btn btn-primary" onclick="do_path_query()">
                                    Do Path Query
                                </button>
                            </p>
                            <p>
                                <button type="button" class="btn btn-secondary" onclick="clear_texts()">Clear All
                                </button>
                            </p>
                        </div>
                        <div class="col-9">
                            <p>JSON object submitted to the orchestrator.</p>
                            <pre><code class="json" id="path-query-body">
{
  "flows": [
    {
      "src": "10.0.1.101",
      "dst": "10.0.2.201"
    },
    {
      "src": "10.0.1.102",
      "dst": "10.0.3.202"
    }
  ]
}
                    </code></pre>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-3">
                            <p>SFP could get the AS path of given flows.</p>
                        </div>
                        <div class="col-4">
                            <p>Result of Path Query</p>
                            <pre><code id="path-query-result"></code></pre>
                        </div>
                        <div class="col-4">
                            <p>Human Readable Response</p>
                            <pre><code id="path-query-result-human-readable"></code></pre>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3">
                            <p>
                                After getting the AS-level path, the orchestrator could ask each network for the
                                resource limits of submitted flows. The orchestrator would send queries to different
                                domains concurrently.
                            </p>
                            <p>
                                <button type="button" class="btn btn-primary" onclick="submit_md_task_case3()">
                                    Submit this Task to Try Out!
                                </button>
                            </p>

                        </div>
                        <div class="col-9">
                            <p>JSON object summitted to orchestrator: </p>
                            <pre><code class="json" id="submit_md_task_json">
[{
  "id": 1,
  "jobs": [
    {
      "potential_srcs": [ { "ip": "10.0.1.101", "port": 1234 } ],
      "potential_dsts": [ { "ip": "10.0.2.201", "port": 2345 } ]
    },
    {
      "potential_srcs": [ { "ip": "10.0.1.102", "port": 3456 } ],
      "potential_dsts": [ { "ip": "10.0.3.202", "port": 5678 } ]
    }
  ]
}]
                    </code></pre>
                        </div>
                    </div><!-- Request Row End -->

                    <div class="row">
                        <div class="col-3">
                            <p>The orchestration system will wait for receiving all responses from different
                                sites.</p>
                            <p>Then, the orchestration system will merge all the contraints from those sites to get
                                a global constraits set.</p>
                        </div>

                        <div class="col-4">
                            <p>Response:</p>

                            <pre><code class="json" id="rsa-result"></code></pre>
                        </div>

                        <div class="col-4">
                            <p>Human Readable Response:</p>
                            <p>Domain-1</p>
                            <pre><code id="rsa-site1-result-human-readable-case3"></code></pre>
                            <p>Domain-2</p>
                            <pre><code id="rsa-site2-result-human-readable-case3"></code></pre>
                            <p>Domain-3</p>
                            <pre><code id="rsa-site3-result-human-readable-case3"></code></pre>
                        </div>
                    </div><!-- Response Row End -->

                    <div class="row">
                        <div class="col-3">
                            <p>Now, the client can calculate the optimal resource reservation based on this global
                                constraints set.</p>
                            <p>
                                Let's click
                                <button type="button" class="btn btn-primary"
                                        onclick="calculate_md_bandwidth_case3()">This Button
                                </button>
                                to try it out.
                            </p>
                        </div>

                        <div class="col-4">
                            <p>Response:</p>
                            <pre><code class="json" id="md-bandwidth-result-case3"></code></pre>
                        </div>

                        <div class="col-4">
                            <p>Human-Readable Response:</p>
                            <pre><code class="json" id="md-bandwidth-result-human-readable-case3"></code></pre>
                        </div>
                    </div><!-- Response Row End -->

                    <div class="row">
                        <div class="col-3">
                            <p>
                                It looks good now. Let's start this cross-domain data transfer task with the
                                calculated optimal resource reservation!
                            </p>
                            <p>
                                <button type="button" class="btn btn-primary" onclick="start_md_task_case3()">
                                    Start
                                </button>
                            </p>
                            <p>Of course, you can click this
                                <button type="button" class="btn btn-danger" onclick="stop_task()">Stop</button>
                                button to interrupt the running task whenever you want.
                            </p>
                            <p>To reproduce the demo, you can
                                <button type="button" class="btn btn-secondary" onclick="clear_texts()">
                                    Clear All
                                </button>
                                and repeat the instructions in a cleanup environment.
                            </p>
                        </div>

                        <div class="col-4">
                            <p>Response:</p>
                            <pre><code class="json" id="md-task-result-case3"></code></pre>
                        </div>

                        {#                            <div class="col-4">#}
                        {#                                <p>Human-Readable Response:</p>#}
                        {#                                <pre><code class="json" id="md-task-result-human-readable-case3"></code></pre>#}
                        {#                            </div>#}
                    </div><!-- Response Row End -->
                </div>
            </div>
            <!-- End of Show Cases -->

        </div>
        <!-- End of col-12 -->
    </div>
    <!-- End of row -->

    <div class="row">
        <div class="col-12">
            <div class="container">
                <hr/>
                <br/>
                <h1 id="dashboard">Dashboard</h1>
                <hr/>
                <br/>

                <div class="row">
                    <div class="col-12">
                        <iframe id="dashboard-show" src="/dashboard#source=/static/dashboard.json" width="100%"
                                height="400px" frameborder="0"></iframe>
                        <a id="dashboard-full-screen" class="btn btn-primary"
                           href="/dashboard#source=/static/dashboard.json" target="_blank">Full Screen</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
        <p class="text-muted credit">Developed by
            <a href="https://github.com/yang-jace-liu">Liu, Yang Jace</a> and
            <a href="https://github.com/fno2010">Zhang, Jingxuan Jensen</a> of
            <a href="https://github.com/openalto">OpenALTO Community</a>.</p>
    </div>
</footer>

<script type="text/javascript">
    clear_texts();

    var dashboard_url = "/dashboard#source=/static/dashboard.json"

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var target = $(e.target).attr("href") // activated tab
        dashboard_url = "/dashboard#source=/static/dashboard.json"
        $('#dashboard-show').attr("src", dashboard_url)
        $('#dashboard-full-screen').attr("href", dashboard_url)
        document.getElementById('dashboard-show').contentWindow.location.reload();
    });
</script>
</body>
</html>
